# Ignore node_modules and build folders
node_modules/
build/

# Ignore environment and config files
.env
*.config.js

# Ignore minified files
*.min.js

# Ignore all JSON files in a specific folder
/data/*.json

# Ignore specific file types
*.lock
